.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .box {
    background-color: rgb(61, 255, 165);
    border-radius: 20px;
    width: 150px;
    padding: 10px;
    text-align: center;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    
  }
  
  .grid-item {
    background-color: rgb(255, 0, 204);
    padding: 10px;
    border-radius: 25px;
    text-align: center;
  }

  .responsive-box {
    padding: 20px;
    text-align: center;
  }
  
  @media (max-width: 600px) {
    .responsive-box {
      background-color: lightcoral;
    }
  }
  
  @media (min-width: 601px) {
    .responsive-box {
      background-color: lightseagreen;
    }
  }
