/* koko sivun tumma tausta ja vaalea teksti */

html,
body {
  background-color: #e7e7e7;
  color: #eaeaea;
  height: 100%;
}
/* Keskitetty tekstin laatikko tummalla taustalla ja vaalealla tekstillä */
.content-box {
  background-color: #2e2e2e;
  color: #ffffff;
  padding: 20px;
  border-radius: 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* Keskitetty tekstin laatikko vaalealla taustalla ja tummalla tekstillä */
.text-centerblack {
  background-color: #ffffff;
  color: #000000;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Kuvien tyylit */
.img-thumbnail {
  display: block;
  margin: auto;
  width: 85%;
  padding: 10px;
  border-radius: 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Lomakkeen tyylit */
.form-control {
  display: block;
  margin: auto;
  max-width: 80%;
  background-color: #ffffff;
  color: #ffffff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-label {
  display: block;
  margin: auto;
  max-width: 80%;
}

/* Lomakkeen laatikon tyyli */
.content-box-form {
  background-color: #2e2e2e;
  color: #ffffff;
  padding: 10px;
  border-radius: 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
