/* koko sivun tumma tausta ja vaalea teksti */

html,
body {
  background-color: #cccccc;
  color: #eaeaea;
  height: 100%;
}

.content-box {
  background-color: #2e2e2e;
  color: #ffffff;
  padding: 20px;
  border-radius: 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.text-centerblack {
  background-color: #ffffff;
  color: #000000;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.img-thumbnail {
  display: block;
  margin: auto;
  width: 70%;
  padding: 10px;
  border-radius: 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.form-control {
  max-width: 40%;
  background-color: #ffffff;
  color: #ffffff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}